@import url('https://fonts.googleapis.com/css2?family=Audiowide&family=Josefin+Sans:100&family=Rambla&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');/* COLOR */
/* Red = #9a0134 */
/* Blue = #021d26 */
/* Gris = #d9d9d9 */

html{
  scroll-behavior: smooth;
}
body{
  color: rgb(255, 255, 255) !important;
  background: linear-gradient(rgb(49, 49, 49), rgb(216, 216, 216)) !important;
  font-family: 'Rambla',sans-serif;
}
h2{
  font-family: 'Audiowide', sans-serif;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  text-shadow: -3px -3px 3px rgb(132, 27, 62);
}
li{
  list-style-type: none;
}

/************************ HEADER ****************************/
.navbar{
  background-color: #FAFAFA;
  opacity: 0.9;
  height: 42px;
  transition: 0.7s;
}
.navbar-nav{
  width: 80% !important;
  margin: 0 auto;
  justify-content: space-between;
}
header{
  text-align: center;
  background: url(media/header.jpg) no-repeat fixed 50% 50%;
  background-size: cover;
}
h1{
  padding: 90px 0 10px 0;
  font-family: 'Anton', sans-serif;
  font-size: 4.3em;
  text-transform: uppercase;
  text-shadow: 1px 1px 15px black;
}
.from{
  color: #021d26;
}
.field{
  color: #9a0134;
}
#line{
  height: 1px;
  background-color: rgb(132, 27, 62);
  width: 25%;
  margin: 0 auto;
}
h2{
  padding: 20px 0 50px 0;
  font-size: 3em;
  text-transform: uppercase;
}
.presentation{
  background-color: rgb(255, 255, 255,0.1);
  height: 240px;
  margin-top: 20px;
}
.infos{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 30px;
}
.photo{
  position: relative;
}
.photo img{
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  height: 130px;
  max-width: 90%;
}
.photo img:hover{
  transform: scale(1.25);
  transition: 0.6s;
}
header .button{
  margin-top: 45px;
  font-size: 1.5em;
  font-weight: bold;
  color: #9a0134;
}
header .button a{
  color:#9a0134;
  padding: 20px 80px;
  border: 1px solid #b3aca7;
  border-radius: 10px;
  width: 300px;
}
header .button:hover a{
  background: #9a0134;
  color: #d9d9d9;
  transition: all 0.3s ease-in-out;
  text-decoration: none;
}




/************************ SECTION 0 : SOFTWARE ****************************/
#software{
  position: relative;
  padding: 40px 40px 0px 50px;
  margin: 150px 6% -150px 10%;
  height: 350px;
  max-width: 90%;
  clip-path: polygon(30% 0, 70% 0, 100% 0, 100% 100%, 80% 67%, 20% 67%, 0 100%, 0 0);
  background-size: cover;
  background: linear-gradient(180deg, rgba(106, 106, 106, 0.705), #021d26);
  border-radius: 20px 20px 100px 100px;
}
.software-icons{
  margin: 0 auto;
  padding-top: 30px;
  display: flex;
  justify-content: space-between;
  max-width: 80%;
}
.software-icons img{
  height: 80px;
}




/************************ SECTION 1 : LANGAGES ****************************/
h3{
  text-align: center;
  font-family: 'Anton', sans-serif;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  text-shadow: -3px -3px 3px #000000;
}
#langages{
  position: relative;
  padding: 100px 80px 80px 50px;
  margin: 0 6% 0 10%;
  height: 600px;
  max-width: 90%;
  clip-path: polygon(20% 10%, 80% 10%, 100% 30%, 100% 70%, 80% 90%, 20% 90%, 0 70%, 0 30%);
  background-size: cover;
  border-radius: 3000px;
  background: linear-gradient(180deg, #2c000f,#9a0134, #2c000f);
}
#langages .bar{
  letter-spacing: 0.1em;
  padding: 10px 0 4px 0;
  text-align: center;
  font-size: 1.2em;
}
.progress{
  width: 70%;
  margin: auto;
}




/************************ SECTION 1 : FORMATION ****************************/
#formation{
  position: relative;
  padding: 140px 40px 40px 50px;
  margin: -160px 6% 0 10%;
  height: 350px;
  max-width: 90%;
  clip-path: polygon(20% 35%, 80% 35%, 100% 0, 100% 100%, 80% 100%, 30% 100%, 0 100%, 0 0);
  background-size: cover;
  background: linear-gradient(180deg, #021d26, rgba(106, 106, 106, 0.705));
  border-radius: 100px 100px 20px 20px;
}
#autodidacte{
  padding-top: 20px;
  float: left;
  position: relative;
}
#occ{
  float: right;
  position: relative;
  margin-top: -30px;
  padding: 50px 0 0 0%;
}
#formation h4{
  font-weight: blod;
  letter-spacing: 0.08em;
  padding-bottom: 10px;
  color: whitesmoke;
  text-shadow: -1px -1px 1px black;
  text-align: center;
}
.counter{
  display: flex;
  text-align: center;
}
.data{
  border: 1px solid black;
  width: 170px;
  margin: 0 10px;
  box-shadow: 0 0 8px black;
  padding: 5px 10px;
}
.counter-value{
  font-size: 2em;
}
.data-span{
  font-size: 1.8em;
}



/************************ SECTION 2 : PARCOURS ****************************/
#parcours{
  color: black;
  max-width: 800px;
  margin: 150px auto 180px auto;
  padding: 40px 30px 100px 30px;
  background: url(./media/stairs.jpg) no-repeat fixed 50% 50%;
  background-size: cover;
  border-radius: 8px;
  box-shadow: -1px -1px 8px black;
}
#parcours h3{
  color: #9a0134;
  font-size: 2.5em;
  padding-bottom: 30px;
}
#parcours h4{
  text-align: center;
  font-weight: bold;
  font-size: 1.6em;
  color: #021d26;
  margin-left: 20px;
}
#parcours h6{
  font-weight: bold;
  text-align: center;
  font-style: italic;
  color: #9a0134;
  margin-left: 20px;
}
#parcours .steps{
  width: 94%;
  position: relative;
  text-align: center;
  padding: 20px 0 0px 0;
  margin-top: 20px;
  border-radius: 10px 10px 10px 10px;
  height: 120px;
  overflow: hidden;
  box-shadow: 4px 0px 4px black;
  background-color: #021d26;
}
#parcours .steps p{
  text-align: center;
  margin-top: 25px;
  color: whitesmoke;
  line-height: 1.9em;
}

#window .intro{
  text-align: center;
  margin-top: 10px;
  color: #021d26;
  line-height: 0.8em;
  font-style: bold;
}
.steps .intro{
  text-align: center;
  margin-top: -80px;
  color: #021d26;
  line-height: 0.8em;
  font-style: bold;
}
#parcours .steps:hover{
  width: 3%;
  transition: 2s;
}
#parcours .steps:hover p{
display: none;
}
#window{
  position: absolute;
  margin-top: 12px;
  height: 120px;
  width: 88%;
  border-radius: 10px;
  background-color: whitesmoke;
}
.second-window{
  margin-top: 8px;
}

#parcours .steps:hover p{
  translate: -5%;
  transition: 1.5s;
}

#slider{
  position: relative;
  z-index: 1;
  height: 80px;
  width: 15px;
  background-color: whitesmoke;
  float: right;
  margin-right: 5%;
  border-radius: 10px;
}
#parcours .steps:hover #slider{
  translate: -90%;
  transition: 1.5s;
  background-color: #021d26;
}

.timeline{
  border-top: 5px solid #000;
  border-image: linear-gradient(to right, #9a0134, #021d26);
  border-image-slice: 1;
  margin: 0;
  padding: 40px;
  position: relative;
}
.timeline:nth-child(1):after{
  content:'▲';
  color: #9a0134;
  position: absolute;
  top: -10px;
  right: -10px;
  box-sizing: content-box !important;
}
.timeline:nth-child(1){
  border-bottom: 5px solid;
  border-top: none;
  width: 80%;
}
.timeline:nth-child(2){
  border-top: none;
}
.timeline:nth-child(odd){
  border-right: 5px solid;
  padding-left: 0;
}
.timeline:nth-child(even){
  border-left: 5px solid;
  padding-right: 0;
}


/************************ SECTION 3 : PORTFOLIO ****************************/
#portfolio .slider-container .menu p{
  font-size: 3em;
  color: whitesmoke;
  text-align: center;
  font-family: 'Anton';
}
.slider-container {
  margin-left: 5%;
  height: 600px;
  width: 90%;
  position: relative;
  overflow: hidden;
  text-align: center;
}
.menu {
  position: absolute;
  left: 0;
  z-index: 900;
  width: 100%;
  bottom: 0;
}
.menu label {
  cursor: pointer;
  display: inline-block;
  width: 16px;
  height: 16px;
  background: rgb(255, 255, 255);
  border-radius: 50px;
  margin: 0 0.2em 1em;
}
.menu label:hover,
.menu label:focus {
  background: #021d26;
}
.slide {
  width: 100%;
  height: 100%;
  position: absolute;
  border-radius: 10px;
  top: 0;
  left: 100%;
  z-index: 10;
  padding: 8em 1em 0;
  background-size: cover;
  background-position: 50% 50%;
  transition: left 0s 0.75s;
}
[id^="slide"]:checked + .slide {
  left: 0;
  z-index: 100;
  transition: left 0.65s ease-out;
}
.slide-1 {
  background-image: url("./media/webDesign.png");
}
.slide-2 {
  background-image: url("./media/report.jpg");
}
.slide-3 {
  background-image: url("./media/soccerField.jpg");
}

.button_portfolio a{
  margin: auto 0;
  color:#9a0134;
  background-color: rgb(255, 255, 255,.5);
  font-size: 8em;
  font-family: 'Anton';
  padding: 20px 80px;
  border: 1px solid #b3aca7;
  border-radius: 100px;
  border: 1px solid black;
}
.button_portfolio:hover a{
  border-radius: 100px;
  background: #9a0134;
  color: #d9d9d9;
  transition: all 0.3s ease-in-out;
  text-decoration: none;
}
.slide-4 {
  background-image: url("./media/research.png");
}
.portfolio-description{
  font-size: 8em;
  padding: 20px 80px;
  margin: auto 0;
  color: #9a0134;
  font-family: 'Anton';
  background-color: rgb(255, 255, 255,.5);
  border-radius: 100px;
  border: 1px solid black;
}


/************************ FOOTER ****************************/
footer{
  margin-top: 100px;
  text-align: center;
  pad: 160px 50px 5 50px;
  background-image: url(./media/footer.jpg);
  background-size: cover;
}

#footer-icons{
  padding-top: 30px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  max-width: 80%;
}
.network{
  font-size: 4em;
  border: 1px solid black;
  padding: 30px 45px;
  color: #9a0134;
  z-index: -1 !important;
  border-radius: 50%;
}
.network:hover{
  background-color: #9a0134;
  transition: all 0.3s ease-in-out;
  color: whitesmoke;
}
.arrow{
  margin-top: 85px;
  padding-top: 25px;
  animation: arrow linear 1.5s;
  animation-iteration-count: infinite;
  position: absolute;
  left: 50%;
}

@keyframes arrow{
  0%{
    transform: translateY(0px);
  }
  38%{
    transform: translateY(8px);
  }
  100%{
    transform: translateY(0px);
  }
}

.arrow a{
  font-size: 3em;
  border: none;
  color: #021d26;
}
.arrow:hover i{
  transform: scale(1.6);
  transition: 0.5s ease-in-out;
  color: #9a0134;
}
footer p {
  margin-top: 60px;
  font-size: 0.9em;
  letter-spacing: 0.3em;
  color: whitesmoke;
  font-weight: bold;
}



/************************ RESPONSIVE ****************************/

@media screen and (max-width: 1020px) {
  /* FORMATION */
  #formation{
    padding: 240px 40px 40px 50px;
    height:600px;
  }
  #occ{
    margin-top: 120px;
  }
  #autodidacte{
    position: absolute;
  }

  /* PORTFOLIO */
  .button_portfolio a{
    font-size: 6em;
  }
  .portfolio-description{
    font-size: 6em;
  }

  /* FOOTER */
  .network{
    font-size: 3em;
    padding: 20px 35px;
  }
  .arrow{
    margin-top: 60px;
  }
}

@media screen and (max-width: 900px) {
  /* SOFTWARE */
  .software-icons img{
    height: 50px;
  }

  /* PORTFOLIO */
  .button_portfolio a{
    font-size: 3.5em;
  }
  .portfolio-description{
    font-size: 3.5em;
  }
  
  /* FOOTER */
  .network{
    font-size: 2em;
    padding: 10px 20px;
  }
  .arrow{
    margin-top: 40px;
  }
}

/* IPHONE 8 FORMAT */
@media screen and (max-width: 420px) {
  /* HEADER */
  h1{
    font-size: 3.5em;
  }
  h2{
    font-size: 2em;
  }
  h5 span{
    font-size: .7em;
  }

  /* SOFTWARE */
  .software-icons img{
    margin-left: -15px;
    height: 25px;
  }
  #langages{
    height: 650px;
  }

  /* PARCOURS */
  #window{
    width: 78%;
  }
  .intro ul{
    margin-left: -25px;
    margin-top: -5px;
    font-size: .1em;
  }
  #parcours .timeline h4, .data .counter-value{
    font-size: 1em;
  }
  #parcours .timeline h6{
    font-size: .8em;
  }

  /* FORMATION */
  #autodidacte, #occ{
    position: absolute;
    margin-left: -55px;
  }
  #formation h4{
    font-size: 1em;
  }
  .data span{
    font-size: .8em;
  }
  .data{
    width: 120px;
  }


  /* PORTFOLIO */
  .button_portfolio{
    margin-top: 120px;
  }
  .button_portfolio a{
    font-size: 1em;
  }
  .portfolio-description{
    font-size: 3.5em;
  }

  /* FOOTER */
  .network{
    font-size: 1.5em;
    padding: 8px 13px;
  }
  .arrow{
    margin-top: 20px;
    left: 45%;
  }
}